.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 345px;
    max-width: 90%;
}

.window.bg-active {
    transform: translate(-50%, -50%) scale(1);
}

.window-header {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.window-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.window-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    padding: 10px 15px;
    gap: 15px;
}

.window-body > div {
    max-width: 93%;
}

.window-body button {
    max-width: 93%;
}

.title-author {
    grid-row: 1 / 2;
    max-width: 93%;
}

.title-author > div {
    display: flex;
    flex-direction: column;
}

.pages-read {
    display: flex;
    align-items: center;
}

.pages {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.pages input {
    max-width: 80%;
}

input {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


#overlay-bg {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay-bg.bg-active {
    opacity: 1;
    pointer-events: all;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}

.card {
    height: 100px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    
}